{%extends 'rolls/titolohome.html' %}
{% load static %}
{%block page%}
       
    <div class="conteiner text-center my-3" style="position: center;">
        <h2> Contacts </h2>
        <br>
           <div class="container text-center" style="max-width: 700px; height: 250px;">

            <p> For questions, support, bug reports, proposals, cooperations or any other communication, feel free to contact:
                <br><br>
                <b>Chiara Notturno Granieri: </b><a href="mailto:chiara.notturno@gmail.com">chiara.notturno@gmail.com</a>
                
                <br><br>
                Centre for Molecular Bioinformatics
                <br>
                <b>Prof. Manuela Helmer-Citterich</b>
                <br>
                Tor Vergata University
                <br>
                Rome-Italy
            </p>
           </div> 
            

  

   
{%endblock%}
 