{%extends 'rolls/layoutpagine.html' %}
{% load static %}
{%block content%}
<h2 style="color:navy">PANDA</h2>   
    <div class="conteiner my-3" style="position: center;">
        <p>PANDA (PAN cancer data analysis web tool) is a Bioinformatics Tool for statistical analysis of tumor gene expression.
           This web server provides tools for analyzing RNAseq data collected by TCGA. The available analyses use clinical data to perform differential gene expression and overall survival with different options.</p>
        <br>
        <h4> How to cite PANDA </h4>
        <p>If you use PANDA, even just for preliminary analysis, please cite: insert citation</p>
        <br>
        <h4> Contacts </h4>
        
           
        <p> For questions, support, bug reports, proposals, cooperations or any other communication, feel free to contact:
        <p><b>Gerardo Pepe</b> (Conceptualized and designed the study, supervised the development of the webserver and implemented the scripts for data analysis tools): <a href="mailto:gerardo.pepe@uniroma2.it">gerardo.pepe@uniroma2.it</a></p>
        <p><b>Chiara Notturno Granieri</b> (implemented both back-end and front-end components and scripts for data analysis tools): <a href="mailto:chiara.notturno@gmail.com">chiara.notturno@gmail.com</a></p>
        <p><b>Romina Appierdo</b> (worked on the implementation of scripts for data analysis tools): <a href="mailto:romina.appierdo@uniroma2.it">romina.appierdo@uniroma2.it</a></p>
        
        <br><br>
        Centre for Molecular Bioinformatics
        <br>
        <b>Prof. Manuela Helmer-Citterich</b>
        <br>
        <b>Prof. Pier Federico Gherardini</b>
        <br>
        Tor Vergata University
        <br>
        Rome-Italy
    </div> 
        

  

   
{%endblock%}
 