{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}
<h4 style="color:navy">Cell Types Analyses</h4>
<h2> Correlation Cell Type and Pathways </h2>
   
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
      Description
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Example
    </button>
  </p>
  <div class="collapse" id="collapsedescription">
    <div class="card card-body">
      <h4>Correlation Cell Type and Pathways</h4>
      <p>This function serves to calculate the association between cellular abundance and pathway activity within tumor samples.</p>
    <p>For cellular composition, we first estimated the relative proportions of immune cell types using cell-mixture deconvolution. This approach relies on the <strong>ImmunoStates basis matrix</strong>, which contains predefined gene expression profiles for 20 immune cell types.</p>
    
    <p>To assess pathway activity, we applied <strong>single-sample Gene Set Enrichment Analysis (ssGSEA)</strong>, which calculates an activity score for each pathway based on the expression of genes within a predefined set of cancer-related and immune-associated pathways. These pathway activity scores provide a quantitative measure of pathway activation in each tumor sample.</p>
    
    <p>By correlating the cell-type proportions with the ssGSEA scores, we were able to identify significant associations between specific immune cell types and the activity of relevant biological pathways, offering insights into how cellular composition may influence tumor biology.</p>
    <!-- <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p> -->
    </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-3 my-3">
        <form method="post" id="analysis-form">
            {%csrf_token%}
            {{form|crispy}}         
            <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-primary me-md-2 my-3" type="Submit" name="Submit">Submit</button>
            </div>
        </form>
      </div>
      <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p class="text-center" >Example: </p>
          <img src= "{%static 'media/examples/corr_cell.png' %}" width="750">
        </div> 
        </div>
        {%if go == 'Valid' %}        
        <h3 class="d-flex justify-content-between align-items-center">
          <span>Results</span>
          
          <div class="text-end">
              <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
              <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                  <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
              </a>
          </div>
      </h3>

        <hr>
        <div class="row">
          <div class="col mx-3">
            <p><b>Tumor:</b> {{tumor}}</p>
            <p><b>DB selected:</b> {{db}}</p>
          </div>
        <br>
        <div class="row">
          <div class="mx-auto bg-body rounded" style="max-width: 800px;">
            <a href="{%static image2%}" target="_blank"><img src= '{%static image2 %}' width="900"></a>
        </div> 

        <br><br>
        <!-- <p>You can download the calculated cellular proportions for this tumor <a href="{% static dir %}" download target="blank" ><button class="btn"><i class="fa-solid fa-download"></i></button></a></p> -->
        <div class="table-responsive" >
          <table id="Mytable" class="table table-hover table-sm" style="width: 100%; margin: 0 auto; text-align: left; border-collapse: collapse; border: 1px solid white;">
              <thead style="position: sticky; top: 0; background-color: white; z-index: auto;">
                  <tr>
                      {% for colonna in dati.0 %}
                          <th style="border: 1px solid white; font-weight: bold;">{{ colonna }}</th> <!-- Bordo per le intestazioni -->
                      {% endfor %}
                  </tr>
              </thead>
              <tbody>
                  {% for riga in dati|slice:"1:" %}
                      <tr>
                          {% for colonna in riga %}
                              <td style="border: 1px solid white;">{{ colonna }}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
       
        <br>
       
        
        </div>
      </div>
        {%endif%}
  
        {%if go == 'error'%}
        <div class="alert alert-danger text-center" role="alert">
          <h5>There are no results for {{tumor}}</h5>
          <p> Error: {{formresult}} </p>
          
        </div> 

        {%endif%}
      </div>
      
    </div>


   <!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script per il suggerimento con jQuery UI -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#pathway-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'pathway_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script>
   

<!-- Include la libreria DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#Mytable').DataTable({
      "stripeClasses": ['odd-row', 'even-row']  // Definisce le classi per le righe dispari e pari
    });
  });
</script>

<style>
  /* Stile per le righe dispari */
  .odd-row {
      background-color: grey;  /* Colore per le righe dispari */
  }

  /* Stile per le righe pari */
  .even-row {
      background-color: #e0f7fa;  /* Colore per le righe pari */
  }

  /* Stile per il hover sulle righe */
  tbody tr:hover {
      background-color: #b2ebf2; /* Colore di sfondo al passaggio del mouse */
  }

  /* Stile per le celle */
  td {
      padding: 10px;
      border: 1px solid #ddd; /* Bordo sottile per ogni cella */
      text-align: left; /* Allineamento del testo a sinistra */
  }

  /* Optional: personalizzazione per la tabella DataTables */
  .dataTables_wrapper {
      font-size: 14px; /* Dimensione del testo nella tabella */
  }

  .table-hover tbody tr:hover {
      background-color: #d1ecf1; /* Colore di hover per le righe della tabella */
  }
</style>

{%endblock%}
    