{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}
<h4 style="color:navy">Mutation Analyses</h4>
<h2> Differentially Mutated Gene by Clinical Feature</h2>
   
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
      Description
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Example
    </button>
  </p>
  <div class="collapse" id="collapsedescription">
    <div class="card card-body">
      <h4> Differentially Mutated Gene by Clinical Feature</h4>
        <p>
            This analysis compares two cohorts of cancer patients using genomic data from TCGA to analyze genetic mutations by stratifying patients by clinical characteristics. It generates a forest plot highlighting the 10 genes with the most significant mutations between the groups, showing differences in mutational profiles. It also produces a coBarplot illustrating the distribution of mutations in the two groups. 
        </p>
        <p>
            These graphs provide a clear view of mutational differences, helping to identify key genes associated with different clinical responses. The results are also saved in a CSV file for further analysis.
        </p>
        <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-3 my-3">
        <form method="post" id="analysis-form">
            {%csrf_token%}
            {{form|crispy}}         
            <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-primary me-md-2 my-3" type="Submit" name="Submit">Submit</button>
            </div>
        </form>
      </div>
      <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <p class="text-center" >Example: </p>
          <img src= "{%static 'media/examples/de_clinical.png' %}" width="750">
        </div> 
        </div>
        {%if go == 'Valid' %}        
        <h3 class="d-flex justify-content-between align-items-center">
          <span>Results</span>
          
          <div class="text-end">
              <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
              <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                  <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
              </a>
          </div>
      </h3>
        <hr>
        <div class="row">
            <div class="col mx-3">
              
              <p><b>Tumor:</b> {{tumor}}</p>
              <p><b>Feature selected:</b> {{feature}}</p>
              <!-- <p><b>Parameters compared:</b> {{parametri}}</p> -->
              
            </div>
          
          <div class="row">
            <div class="mb-3 rounded" style="max-width: 800px;text-align: center; ">
              <a href="{%static image_forest%}" target="_blank"><img src= '{%static image_forest %}' width="700"></a>
            </div>
            
            <!-- <p>You can download the results for all genes with their p-value here <a href="{% static table %}" download target="_blank"><button class="btn"><i class="fa-solid fa-download"></i></button></a></p> -->
            <br>
            <br>

            <div class="mb-3 rounded" style="max-width: 800px;text-align: center; ">
              <a href="{%static image_coBarplot%}" target="_blank"><img src= '{%static image_coBarplot %}' width="700"></a>
            </div>

          </div> 
      
     
        </div>
      </div>
        {%endif%}
  
        {%if go == 'error'%}
        <div class="alert alert-danger text-center" role="alert">
          <h5>There are no mutations for this gene {{gene}} in the tumor {{tumor}}</h5>
          
          
        </div> 


        {%endif%}
      </div>
      
    </div>


   <!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script per il suggerimento con jQuery UI
<script type="text/javascript">
  $(document).ready(function() {
    $('#gene_symbol-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'gene_symbol_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script> -->


<!-- <script>
  $(document).ready(function() {
      $('#id_tumor').change(function() {
          var tumor = $(this).val();  // Ottieni il tumore selezionato
          
          // Invia la richiesta AJAX per ottenere le feature corrispondenti
          $.ajax({
              url: "{% url 'get_features_R' %}",  // Assicurati che l'URL punti alla vista giusta
              data: {
                  'tumor': tumor  // Passa il tumore selezionato come parametro
              },
              success: function(data) {
                  // Svuota il campo feature
                  $('#feature-select').empty();

                  // Aggiungi le nuove opzioni delle feature
                  $.each(data, function(index, feature) {
                      $('#feature-select').append(
                          $('<option></option>').val(feature[0]).html(feature[1])
                      );
                  });
              }
          });
      });
  });
</script> -->

<!-- new selezione prima tumore e dopo feature -->

<script>
  $(document).ready(function() {
      // Disabilita il campo feature all'inizio
      $('#feature-select').prop('disabled', true);

      $('#id_tumor').change(function() {
          var tumor = $(this).val();  // Ottieni il tumore selezionato
          
          // Nascondi il messaggio di errore quando cambia la selezione del tumore
          $('#tumor-error').hide();

          // Verifica se è stato selezionato un valore per il tumore
          if (tumor) {
              // Invia la richiesta AJAX per ottenere le feature corrispondenti
              $.ajax({
                  url: "{% url 'get_features_R' %}",  // Assicurati che l'URL punti alla vista giusta
                  data: {
                      'tumor': tumor  // Passa il tumore selezionato come parametro
                  },
                  success: function(data) {
                      // Svuota il campo feature
                      $('#feature-select').empty();

                      // Aggiungi le nuove opzioni delle feature
                      $.each(data, function(index, feature) {
                          $('#feature-select').append(
                              $('<option></option>').val(feature[0]).html(feature[1])
                          );
                      });

                      // Abilita il campo feature dopo il caricamento delle opzioni
                      $('#feature-select').prop('disabled', false);
                  }
              });
          } else {
              // Se nessun tumore è selezionato, disabilita il campo feature e mostra un messaggio di errore
              $('#feature-select').prop('disabled', true);
              $('#feature-select').empty();  // Svuota eventuali opzioni precedenti
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });

      // Se l'utente prova a interagire con feature-select quando è disabilitato
      $('#feature-select').focus(function() {
          if ($('#feature-select').prop('disabled')) {
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });
  });
</script>

{%endblock%}
    