{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{% load static %}

{%block content%}

   <h2> DESeq2: Analisi di espressione differenziale</h2>
   
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Description
    </a>
    <button class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="right" title="Click here for Example">
      Example
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <p>Differential gene expression analysis based on the negative binomial distribution</p>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-3 my-3">
        <form method="post" >
            {%csrf_token%}
            {{form|crispy}}
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <button class="btn btn-primary me-md-2 my-3" data-toggle="tooltip" data-placement="right" title="Click here for search features" type="submit" name="features"><i class="fa-solid fa-magnifying-glass"></i> Features</button>
          </div>
          <label class="mr-sm-2" for="inlineFormCustomSelect">Select feature:*</label>
          <select name='feature' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              {%for el in lista%}
              <option value={{el}}>{{el}}</option>    
              {%endfor%}
                     
          </select>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-primary me-md-2 my-3" type="Submit" name="Submit">Submit</button>
            </div>
        
        </form>
    </div>
        <div class="col-sm mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
          <div>
      
          </div>
          {%if go == 'Valid' %}
          <h3>Results:</h3> You can download the log2FoldChange of this analisys <a href="{{dir}}/result_{{tumor}}.txt" download target="blank" ><button class="btn"><i class="fa-solid fa-download"></i></button></a></h3>
          
          <hr>
          <div class="row">
            <div class="col mx-3">
              <p><b>Tumor:</b> {{tumor}}</p>
              <p><b>Feature:</b> {{feature}}</p>
              <p><b>Parameters compared:</b> {{parametri}}</p>
            </div>
            <div class="zoom col shadow mb-3 bg-body rounded" style="max-width: 450px;">
              <a href="{%static enhancedimage%}" target="_blank"><img src= '{%static enhancedimage %}' width="350px"></a>
           </div>
          </div>
          
            <div class="card-group my-3 shadow mb-3 bg-body rounded">
              <div class="card zoom">
                <a href="{%static images1%}" target="_blank"><img src='{%static images1%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images2%}" target="_blank"><img src='{%static images2%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images3%}" target="_blank"><img src='{%static images3%}' class="card-img-top" alt="..."></a>
              </div>
            </div>
          
           <br>
            

          {%endif%}

          {%if go == 'error' %}
          <div class="alert alert-danger text-center" role="alert">
            <h5><b>Non esistono risultati per {{tumor}} - {{feature}}</b></h5>
            <p> Dopo aver inserito il tumore di interesse premere su "<i class="fa-solid fa-magnifying-glass"></i> Features" per selezionare una feature tra quelle disponibili</p>
          </div> 
          {%endif%}
            
        </div>
      </div>


{%endblock%}
    
