{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{% load static %}

{%block content%}
  <h4 style="color:navy">Transcriptomic Analyses</h4>
   <h2> DESeq2: Differential Expression Analysis </h2>
   
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
      Description
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Example
    </button>
  </p>
  <div class="collapse" id="collapsedescription">
    <div class="card card-body">
      <h4>DESeq2: Differential Expression Analysis</h4>
        <p>
          The differential expression analysis performed with <a href="http://www.bioconductor.org/packages/release/bioc/html/DESeq2.html", target="_blank">DESeq2</a> uses data from the <em>TCGA Gene Expression Quantification HTSeq - counts</em>. 
          This analysis is based on the <strong>negative binomial distribution</strong> to identify differentially expressed genes.
      </p>
      
      <p>
          All DESeq2 analyses provided by this web server are precomputed, ensuring that users do not need to spend time on computationally intensive tasks. 
          This significantly reduces the time required to obtain results.
      </p>
      
      <p>To perform the analysis</p>
      
      <ol>
        <li><i class="fa-solid fa-arrow-right"></i> Select the tumor of interest</li>
        <li><i class="fa-solid fa-arrow-right"></i> Press the search button "Features"</li>
        <li><i class="fa-solid fa-arrow-right"></i> This will display in the second select all the features for which it is possible to obtain the result of this analysis for that specific tumor.</li>
        <li><i class="fa-solid fa-arrow-right"></i> Pressing "Submit" will display the results with graphs and related information of the data entered by the user.</li>
      </ol>
      
      <p>
          A key detail provided in the results is the comparison of parameters, specifically the order in which the feature parameters are compared (e.g., <em>Tumor vs. Control</em>).
      </p>
  
      
      <p>The analysis results in a downloadable table that includes:</p>
      <ul>
          <li>Log2 Fold Change: The calculated fold change between conditions.</li>
          <li>p-value: The statistical significance of the differential expression.</li>
          <li>Adjusted p-value (padj):The p-value adjusted for multiple testing to control the false discovery rate.</li>
      </ul>
        <br><p>In addition, several graphs such as Enhanced Volcano Plot, Heatmap, PCA and Heatmap top 100 can be viewed and downloaded.</p>
        <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p>
      </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-3 my-3">
        <form method="post" id="analysis-form">
            {%csrf_token%}
            {{form|crispy}}
           
            <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-primary me-md-2 my-3" type="Submit" name="Submit">Submit</button>
            </div>
        
        </form>
    </div>
        <div class="col-sm mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p class="text-center" >Example: </p>
              <img src= "{%static 'media/examples/DESeq2.png' %}" width="700">
            </div> 
          </div>
          {%if go == 'Valid' %}
          <h3 class="d-flex justify-content-between align-items-center">
            <span>Results</span>
            
            <div class="text-end">
                <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
                <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                    <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
                </a>
            </div>
        </h3>
          <hr>
          <div class="row">
            <div class="col mx-3">
              <p><b>Tumor:</b> {{tumor}}</p>
              <p><b>Feature:</b> {{feature}}</p>
              <p><b>Parameters compared:</b> {{parametri}}</p>
            </div>
            <div class="mb-3 bg-body rounded" style="max-width: 800px;">
              <iframe src="{% static image_plotly %}" width="700" height="600" frameborder="0"></iframe>
          </div> 
          
          </div>
          
            <div class="card-group my-3 shadow mb-3 bg-body rounded">
              <div class="card zoom">
                <a href="{%static images1%}" target="_blank"><img src='{%static images1%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images2%}" target="_blank"><img src='{%static images2%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images3%}" target="_blank"><img src='{%static images3%}' class="card-img-top" alt="..."></a>
              </div>
            </div>
          
           <br>
           
           {%endif%}

          {%if go == 'error' %}
          <div class="alert alert-danger text-center" role="alert">
            <h5><b>There are no results for {{tumor}} - {{feature}}</b></h5>
            <!-- <p> After entering the tumour of interest, click on "<i class="fa-solid fa-magnifying-glass"></i> Features" to select a feature from those available</p> -->
          </div> 
          {%endif%}
            
        </div>
        {%if go == 'Valid' %}
        <br>
        <p>The table shows the significant genes, you can download the full table <a href="{% static table %}" download target="_blank">
          <button class="btn"><i class="fa-solid fa-download"></i></button></a>
      </p>
      
      <div class="table-responsive" >
        <table id="Mytable" class="table table-hover table-sm" style="width: 100%; margin: 0 auto; text-align: left; border-collapse: collapse; border: 1px solid white;">
            <thead style="position: sticky; top: 0; background-color: white; z-index: auto;">
                <tr>
                    {% for colonna in dati.0 %}
                        <th style="border: 1px solid white; font-weight: bold;">{{ colonna }}</th> <!-- Bordo per le intestazioni -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for riga in dati|slice:"1:" %}
                    <tr>
                        {% for colonna in riga %}
                            <td style="border: 1px solid white;">{{ colonna }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
      {%endif%}
  </div>

<!-- Include la libreria DataTables -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#Mytable').DataTable();
  });
</script>


<style>
  /* Stile per le righe dispari */
  .odd-row {
      background-color: grey;  /* Colore per le righe dispari */
  }

  /* Stile per le righe pari */
  .even-row {
      background-color: #e0f7fa;  /* Colore per le righe pari */
  }

  /* Stile per il hover sulle righe */
  tbody tr:hover {
      background-color: #b2ebf2; /* Colore di sfondo al passaggio del mouse */
  }

  /* Stile per le celle */
  td {
      padding: 10px;
      border: 1px solid #ddd; /* Bordo sottile per ogni cella */
      text-align: left; /* Allineamento del testo a sinistra */
  }

  /* Optional: personalizzazione per la tabella DataTables */
  .dataTables_wrapper {
      font-size: 13px; /* Dimensione del testo nella tabella */
  }

  .table-hover tbody tr:hover {
      background-color: #d1ecf1; /* Colore di hover per le righe della tabella */
  }
</style>


<!-- per selezionare la feature del tumore -->
<!-- 
<script>
  $(document).ready(function() {
      $('#id_tumor').change(function() {
          var tumor = $(this).val();  // Ottieni il tumore selezionato
          
          // Invia la richiesta AJAX per ottenere le feature corrispondenti
          $.ajax({
              url: "{% url 'get_features' %}",  // Assicurati che l'URL punti alla vista giusta
              data: {
                  'tumor': tumor  // Passa il tumore selezionato come parametro
              },
              success: function(data) {
                  // Svuota il campo feature
                  $('#feature-select').empty();

                  // Aggiungi le nuove opzioni delle feature
                  $.each(data, function(index, feature) {
                      $('#feature-select').append(
                          $('<option></option>').val(feature[0]).html(feature[1])
                      );
                  });
              }
          });
      });
  });
</script> -->



<!-- new selezione prima tumore e dopo feature -->

<script>
  $(document).ready(function() {
      // Disabilita il campo feature all'inizio
      $('#feature-select').prop('disabled', true);

      $('#id_tumor').change(function() {
          var tumor = $(this).val();  // Ottieni il tumore selezionato
          
          // Nascondi il messaggio di errore quando cambia la selezione del tumore
          $('#tumor-error').hide();

          // Verifica se è stato selezionato un valore per il tumore
          if (tumor) {
              // Invia la richiesta AJAX per ottenere le feature corrispondenti
              $.ajax({
                  url: "{% url 'get_features' %}",  // Assicurati che l'URL punti alla vista giusta
                  data: {
                      'tumor': tumor  // Passa il tumore selezionato come parametro
                  },
                  success: function(data) {
                      // Svuota il campo feature
                      $('#feature-select').empty();

                      // Aggiungi le nuove opzioni delle feature
                      $.each(data, function(index, feature) {
                          $('#feature-select').append(
                              $('<option></option>').val(feature[0]).html(feature[1])
                          );
                      });

                      // Abilita il campo feature dopo il caricamento delle opzioni
                      $('#feature-select').prop('disabled', false);
                  }
              });
          } else {
              // Se nessun tumore è selezionato, disabilita il campo feature e mostra un messaggio di errore
              $('#feature-select').prop('disabled', true);
              $('#feature-select').empty();  // Svuota eventuali opzioni precedenti
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });

      // Se l'utente prova a interagire con feature-select quando è disabilitato
      $('#feature-select').focus(function() {
          if ($('#feature-select').prop('disabled')) {
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });
  });
</script>


{%endblock%}
    
