{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{% load static %}

{%block content%}

   <h2> DESeq2: Differential expression analysis </h2>
   
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
      Description
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Example
    </button>
  </p>
  <div class="collapse" id="collapsedescription">
    <div class="card card-body">
      <p>The differential expression analysis performed with <a href="http://www.bioconductor.org/packages/release/bioc/html/DESeq2.html", target="_blank">DESeq2</a>, uses data from TCGA Gene Expression Quantification HTSeq - counts. This differential gene expression analysis is based on the negative binomial distribution.<br>
        All DESeq2 analyses that the web server provides are precomputed, to save the user the computational time of the analysis itself. 
        <br>
        To perform the analysis, the user will have to 
      </p>
        <ol>
          <li><i class="fa-solid fa-arrow-right"></i> Select the tumor of interest</li>
          <li><i class="fa-solid fa-arrow-right"></i> Press the search button "Features"</li>
          <li><i class="fa-solid fa-arrow-right"></i> This will display in the second select all the features for which it is possible to obtain the result of this analysis for that specific tumor.</li>
          <li><i class="fa-solid fa-arrow-right"></i> Pressing "Submit" will display the results with graphs and related information of the data entered by the user.</li>
        </ol>
        <p>
        A necessary information that will be specified is the Parameters compared, the order of the feature parameters compared (e.s. Tumor vs. Control).
        <br><br>
        <i class="fa-solid fa-square-poll-horizontal"></i> The analysis provides a downloadable results table where the calculated log2 Fold Change, p-value and adjusted p-value (padj) are associated for each gene. 
        <br>In addition, several graphs such as Enhanced Volcano Plot, Heatmap, PCA and Heatmap top 100 can be viewed and downloaded.
        
      </p>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-sm-3 my-3">
        <form method="post" >
            {%csrf_token%}
            {{form|crispy}}
            <div class="d-grid gap-2 d-md-flex justify-content-md">
              <button class="btn btn-primary me-md-2 my-3" data-toggle="tooltip" data-placement="right" title="Click here for search features" type="submit" name="features"><i class="fa-solid fa-magnifying-glass"></i> Features</button>
          </div>
          <label class="mr-sm-2" for="inlineFormCustomSelect">Select feature:*</label>
          <select name='feature' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              {%for el in lista%}
              <option value={{el}}>{{el}}</option>    
              {%endfor%}
                     
          </select>
            <div class="d-grid gap-2 d-md-flex justify-content-md">
                <button class="btn btn-primary me-md-2 my-3" type="Submit" name="Submit">Submit</button>
            </div>
        
        </form>
    </div>
        <div class="col-sm mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p class="text-center" >Example: </p>
              <img src= "{%static 'media/examples/DESeq2.png' %}" width="750">
            </div> 
          </div>
          {%if go == 'Valid' %}
          <h3>Results:</h3> You can download the log2FoldChange of this analisys <a href="{% static dir %}" download target="blank" ><button class="btn"><i class="fa-solid fa-download"></i></button></a></h3>
          

          <hr>
          <div class="row">
            <div class="col mx-3">
              <p><b>Tumor:</b> {{tumor}}</p>
              <p><b>Feature:</b> {{feature}}</p>
              <p><b>Parameters compared:</b> {{parametri}}</p>
            </div>
            <div class="zoom col shadow mb-3 bg-body rounded" style="max-width: 450px;">
              <a href="{%static enhancedimage%}" target="_blank"><img src= '{%static enhancedimage %}' width="350px"></a>
           </div>
          </div>
          
            <div class="card-group my-3 shadow mb-3 bg-body rounded">
              <div class="card zoom">
                <a href="{%static images1%}" target="_blank"><img src='{%static images1%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images2%}" target="_blank"><img src='{%static images2%}' class="card-img-top" alt="..."></a>
              </div>
              <div class="card zoom">
                <a href="{%static images3%}" target="_blank"><img src='{%static images3%}' class="card-img-top" alt="..."></a>
              </div>
            </div>
          
           <br>
            

          {%endif%}

          {%if go == 'error' %}
          <div class="alert alert-danger text-center" role="alert">
            <h5><b>There are no results for {{tumor}} - {{feature}}</b></h5>
            <p> After entering the tumour of interest, click on "<i class="fa-solid fa-magnifying-glass"></i> Features" to select a feature from those available</p>
          </div> 
          {%endif%}
            
        </div>
      </div>


{%endblock%}
    
