{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}
<h4 style="color:navy">Proteomic Analyses</h4>
  <h2>Differential Expression Analysis Single Tumor</h2>
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
          Description
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Example
        </button>
      </p>
      <div class="collapse" id="collapsedescription">
        <div class="card card-body">
          <h4>Differential Expression Analysis Single Tumor</h4>
          <p>This analysis allows users to explore differences in the expression of protein between patients in two distinct conditions (based on the selected feature) within a given tumor type.</p>
          <p>The results are visualized in a box plot, where the x-axis represents the two conditions under comparison (e.g., male vs. female), and the y-axis displays the expression levels of the specified protein. P-value, calculated using the Wilcoxon test, quantifies the significance of the observed expression differences between the two groups.</p>
        
          <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p>

      
        </div>
      </div>
        
      <div class="row my-3">
          <div class="col-sm-3 my-3">
              <form method="post" id="analysis-form">
                  {%csrf_token%}
                  {{form|crispy}}
                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md">
                      <button class="btn btn-primary me-md-2 my-3" type="submit">Submit</button>
                  </div>
              
              </form>
          </div>
              <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <p class="text-center" >Example: </p>
                    <img src= "{%static 'media/examples/diff_ex_1gene_prot.png' %}" width="750">
                  </div> 
                </div>
                  {%if go == 'Valid' %}
                  
                  <h3 class="d-flex justify-content-between align-items-center">
                    <span>Results</span>
                    
                    <div class="text-end">
                        <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
                        <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                            <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
                        </a>
                    </div>
                </h3>

                  <hr>
                  <p><b>Protein: </b> {{gene}}</p>
                  <p><b>Tumor: </b>{{tumor}}</p>
                  <p><b>Feature: </b>{{feature}}</p>
                  <p><b>Parameters compared:</b> {{parametri}}</p>
                  
                
                  
                 
                  <div class="row">
                    <div class="mb-3 bg-body rounded" style="max-width: 800px;">
                        <iframe src="{% static image %}" width="800" height="600" frameborder="0"></iframe>
                    </div> 
                  </div>
                  
                  <div class="table-responsive" >
                    <table id="Mytable" class="table table-hover table-sm" style="width: 100%; margin: 0 auto; text-align: left; border-collapse: collapse; border: 1px solid white;">
                        <thead style="position: sticky; top: 0; background-color: white; z-index: auto;">
                            <tr>
                                {% for colonna in dati.0 %}
                                    <th style="border: 1px solid white; font-weight: bold;">{{ colonna }}</th> <!-- Bordo per le intestazioni -->
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for riga in dati|slice:"1:" %}
                                <tr>
                                    {% for colonna in riga %}
                                        <td style="border: 1px solid white;">{{ colonna }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                  {%endif%}

                 
                  {%if go == 'error'%}
                  <div class="alert alert-danger text-center" role="alert">
                    <h5>There are no results for {{gene}} - {{tumor}} - {{feature}}</h5>
                    <p> There is not enough data to compare the groups for the selected feature </p>

                  </div> 

                  {%endif%}

                  {%if go == 'error_name' %}
                  <div class="alert alert-danger text-center" role="alert">
                    <h5>There are no results for "{{gene}}"</h5> 
                    <p>Error: the entered gene name is incorrect</p>
                    <p>Please select an option from those proposed at the time of entry</p> 
                  </div> 
                  {%endif%}
           
            
              
            </div>
              </div>
      </div>
      
<!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!-- Script per il suggerimento con jQuery UI -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#protein-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'protein_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script>

<!-- per selezionare la feature del tumore -->

<!-- <script>
    $(document).ready(function() {
        $('#id_tumor').change(function() {
            var tumor = $(this).val();  // Ottieni il tumore selezionato
            
            // Invia la richiesta AJAX per ottenere le feature corrispondenti
            $.ajax({
                url: "{% url 'get_features' %}",  // Assicurati che l'URL punti alla vista giusta
                data: {
                    'tumor': tumor  // Passa il tumore selezionato come parametro
                },
                success: function(data) {
                    // Svuota il campo feature
                    $('#feature-select').empty();

                    // Aggiungi le nuove opzioni delle feature
                    $.each(data, function(index, feature) {
                        $('#feature-select').append(
                            $('<option></option>').val(feature[0]).html(feature[1])
                        );
                    });
                }
            });
        });
    });
</script> -->

<!-- new selezione prima tumore e dopo feature -->

<script>
  $(document).ready(function() {
      // Disabilita il campo feature all'inizio
      $('#feature-select').prop('disabled', true);

      $('#id_tumor').change(function() {
          var tumor = $(this).val();  // Ottieni il tumore selezionato
          
          // Nascondi il messaggio di errore quando cambia la selezione del tumore
          $('#tumor-error').hide();

          // Verifica se è stato selezionato un valore per il tumore
          if (tumor) {
              // Invia la richiesta AJAX per ottenere le feature corrispondenti
              $.ajax({
                  url: "{% url 'get_features' %}",  // Assicurati che l'URL punti alla vista giusta
                  data: {
                      'tumor': tumor  // Passa il tumore selezionato come parametro
                  },
                  success: function(data) {
                      // Svuota il campo feature
                      $('#feature-select').empty();

                      // Aggiungi le nuove opzioni delle feature
                      $.each(data, function(index, feature) {
                          $('#feature-select').append(
                              $('<option></option>').val(feature[0]).html(feature[1])
                          );
                      });

                      // Abilita il campo feature dopo il caricamento delle opzioni
                      $('#feature-select').prop('disabled', false);
                  }
              });
          } else {
              // Se nessun tumore è selezionato, disabilita il campo feature e mostra un messaggio di errore
              $('#feature-select').prop('disabled', true);
              $('#feature-select').empty();  // Svuota eventuali opzioni precedenti
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });

      // Se l'utente prova a interagire con feature-select quando è disabilitato
      $('#feature-select').focus(function() {
          if ($('#feature-select').prop('disabled')) {
              $('#tumor-error').show(); // Mostra il messaggio di errore
          }
      });
  });
</script>


<!-- Include la libreria DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#Mytable').DataTable({
      "stripeClasses": ['odd-row', 'even-row']  // Definisce le classi per le righe dispari e pari
    });
  });
</script>


<style>
  /* Stile per le righe dispari */
  .odd-row {
      background-color: grey;  /* Colore per le righe dispari */
  }

  /* Stile per le righe pari */
  .even-row {
      background-color: #e0f7fa;  /* Colore per le righe pari */
  }

  /* Stile per il hover sulle righe */
  tbody tr:hover {
      background-color: #b2ebf2; /* Colore di sfondo al passaggio del mouse */
  }

  /* Stile per le celle */
  td {
      padding: 10px;
      border: 1px solid #ddd; /* Bordo sottile per ogni cella */
      text-align: left; /* Allineamento del testo a sinistra */
  }

  /* Optional: personalizzazione per la tabella DataTables */
  .dataTables_wrapper {
      font-size: 13px; /* Dimensione del testo nella tabella */
  }

  .table-hover tbody tr:hover {
      background-color: #d1ecf1; /* Colore di hover per le righe della tabella */
  }
</style>

{%endblock%}
    
