{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}

  <h2>Differential expression analysis with all tumor</h2>
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
          Description
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Example
        </button>
      </p>
      <div class="collapse" id="collapsedescription">
        <div class="card card-body">
          <h4>Differential expression on all tumors</h4>
          <p>This analysis is the differential expression under two conditions of a gene, miRNA, or protein for all tumors for which data for the selected feature is available. 
            <br>This gives the user an overview of the expression of that particular gene in different tumors.
            <br>On the x-axis are shown all tumors for which analysis is available. On the y-axis the expression of the gene, miRNA or protein is shown.
          </p>
        </div>
      </div>
        
      <div class="row my-3">
          <div class="col-sm-3 my-3">
              <form method="post" >
                  {%csrf_token%}
                  {{form|crispy}}
                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md">
                      <button class="btn btn-primary me-md-2 my-3" type="submit">Submit</button>
                  </div>
              
              </form>
          </div>
          
              <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
                  <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <p class="text-center" >Example: </p>
                    <img src= "{%static 'media/examples/all_tumor_DE.png' %}" width="750">
                  </div> 
                  </div>
                  {%if go == 'Valid' %}
                  
                  <h3>Results:</h3> You can download the p-value results calculated for this analysis <a href="http://160.80.35.91:7000/static/media/saveanalisi/{{dir}}/result.txt" download target="blank" ><button class="btn"><i class="fa-solid fa-download"></i></button></a>
                   
                  <hr>
                  <p>Gene: {{gene}}</p>
                  <p>Feature: {{feature}}</p>
                  <br>
                  <div class="row">
                   <div class="zoom shadow mb-3 bg-body rounded" style="max-width: 800px;">
                      <a href="{%static image%}" target="_blank"><img src= '{%static image %}' width="800"></a>
                  </div> 
                  </div>
                </div>
                  {%endif%}
           
                  {%if go == 'error'%}
                  <div class="alert alert-danger text-center" role="alert">
                    <h5>There are no results for {{gene}} - {{feature}}</h5>
                    <p> Error: {{formresult}} </p>
                    
                  </div> 

                  {%endif%}
              
            </div>
      
      </div>
      
<!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script per il suggerimento con jQuery UI -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#gene-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'gene_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script>
{%endblock%}
    
