{%extends 'rolls/layoutpagine.html' %}
{% load static %}

{%block content%}
    <h2 style="color:navy">PANDA Documentation</h2>
   
    <div class="container my-5" style="position: center;">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            DESeq2 Analysis
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <p>
                              The differential expression analysis performed with <a href="http://www.bioconductor.org/packages/release/bioc/html/DESeq2.html", target="_blank">DESeq2</a> uses data from the <em>TCGA Gene Expression Quantification HTSeq - counts</em>. 
                              This analysis is based on the <strong>negative binomial distribution</strong> to identify differentially expressed genes.
                          </p>
                          
                          <p>
                              All DESeq2 analyses provided by this web server are precomputed, ensuring that users do not need to spend time on computationally intensive tasks. 
                              This significantly reduces the time required to obtain results.
                          </p>
                          
                          <p>To perform the analysis,</p>
                          
                          <ol>
                            <li><i class="fa-solid fa-arrow-right"></i> Select the tumor of interest</li>
                            <li><i class="fa-solid fa-arrow-right"></i> Press the search button "Features"</li>
                            <li><i class="fa-solid fa-arrow-right"></i> This will display in the second select all the features for which it is possible to obtain the result of this analysis for that specific tumor.</li>
                            <li><i class="fa-solid fa-arrow-right"></i> Pressing "Submit" will display the results with graphs and related information of the data entered by the user.</li>
                          </ol>
                          
                          <p>
                              A key detail provided in the results is the comparison of parameters, specifically the order in which the feature parameters are compared (e.g., <em>Tumor vs. Control</em>).
                          </p>
                          
                          <h5>Results and Output</h5>
                          
                          <p>
                              The analysis results in a downloadable table that includes:
                          </p>
                          <ul>
                              <li>Log2 Fold Change: The calculated fold change between conditions.</li>
                              <li>p-value: The statistical significance of the differential expression.</li>
                              <li>Adjusted p-value (padj):The p-value adjusted for multiple testing to control the false discovery rate.</li>
                          </ul>
                          
                          <p>
                              Additionally, several graphical outputs are available to enhance interpretation, including:
                          </p>
                          
                          <ul>
                              <li>Enhanced Volcano Plot:A plot that highlights significantly differentially expressed genes.</li>
                              <li>Heatmap: A visual representation of gene expression levels across samples.</li>
                              <li>PCA Plot: A Principal Component Analysis plot to visualize sample clustering.</li>
                              <li>Top 100 Heatmap: A heatmap showing the top 100 differentially expressed genes.</li>
                          </ul>
                          
                          <p>
                              These plots can be both viewed directly on the page and downloaded for further analysis or presentation purposes.
                          </p>
                          </div>
                        </div>
                      </div>
                    
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Differential Expression Analysis Single Tumor
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5>Differential Expression Analysis Single Tumor</h5>

                            <p>This analysis allows users to explore differences in the expression of a gene, miRNA, or protein between patients in two distinct conditions (based on the selected feature) within a given tumor type. The analysis leverages TCGA Gene Expression Quantification data (FPKM, normalized counts) to assess these differences.</p>
                            <p> The results are visualized in a box plot, where the x-axis represents the two conditions under comparison (e.g., male vs. female), and the y-axis displays the expression levels of the specified gene, miRNA, or protein.</p>
                            <p> A p-value, calculated using the Wilcoxon test, quantifies the significance of the observed expression differences between the two groups.</p>
      
                        </div>
                        </div>
                    </div>
                    

                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                        Pan-Cancer Differential Expression Analysis
                        </button>
                      </h2>
                      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5>Pan-Cancer Differential Expression Analysis</h5>
                            <p>This analysis is the differential expression under two conditions of a gene, miRNA, or protein for all tumors for which data for the selected feature is available. 
                                <br>This gives the user an overview of the expression of that particular gene in different tumors.
                                <br>On the x-axis are shown all tumors for which analysis is available. On the y-axis the expression of the gene, miRNA or protein is shown.
                              </p></div>
                      </div>
                    </div>

                    <!-- <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          miRNA isoform interactor analysis
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <h5>miRNA isoform interactor analysis</h5>
                            <p>This analysis provides the ability for the user to analyze the expression profile of the interactors of miRNA isoforms. 
                              <br>The implemented script checks whether that provided miRNA has isoforms that are present in the RNA inter interaction file. This file contains the information of all miRNA (isoforms) - mRNA interactions
                              that have been experimentally validated belonging to Homo sapiens. 
                              </p>
                              <br>
                              The result obtained is a cluster map. On the rows the names of the patients and on the columns the name of the genes interacting with the miRNA isoform.
                              Clustering was performed to highlight groups of genes with similar expression profile.
                        </div>
                      </div>
                    </div> -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            Overall Survival
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <h4>Overall Survival</h4>
                            <p>The analysis presented involves the investigation of overall survival (OS) data using Kaplan-Meier survival curves and log-rank tests to evaluate the association between gene, miRNA, and protein expression levels with patient outcomes. Specifically, OS data provided by The Cancer Genome Atlas (TCGA) is used as time-to-event information. The survival time, expressed in days, measures the duration from diagnosis or treatment initiation until the event of interest, such as death or last follow-up.</p>
                            <p>The expression data used are Gene Expression Quantification HTSeq - FPKM, miRNA Expression Quantification and Protein Expression Quantification</p>
                            <p><b>Choice of Time Variables:</b>Users have the flexibility to select the time variable for the analysis based on their specific research needs. The two available options are:</p>
                                <ol>
                                    <li><strong>OS.time:</strong> This variable uses overall survival time data as the primary measure for the time-to-event analysis.</li>
                                    <li><strong>DFI.time:</strong> This variable utilizes disease-free interval time data, which reflects the duration from diagnosis to the first occurrence of disease recurrence or progression.</li>
                                </ol>
                                <p>The choice between these two time variables can impact the survival analysis results and their interpretations, allowing users to tailor the analysis to their research objectives.</p>

                            <p>The analysis consists of several key components:</p>
                            <p><b>1. Kaplan-Meier Survival Curves:</b> Kaplan-Meier estimators are used to compute the survival probabilities over time for patients stratified by their expression levels. For each gene, miRNA, or protein, patients are divided into two groups: those with expression levels above the median (higher expression) and those below the median (lower expression). The survival curves for each group are plotted to visualize differences in survival probabilities over time.</p>
                        
                            <p><b>2. Log-Rank Test:</b> To statistically compare the survival distributions between the higher and lower expression groups, the log-rank test is employed. This test assesses whether there are significant differences in overall survival between the two groups, with the resulting p-value indicating the level of statistical significance.</p>
                            <p><b>3. Survival Time in Days:</b> The x-axis of the Kaplan-Meier plot represents the time in days, reflecting the OS data. The y-axis displays the survival probability, which represents the conditional probability of surviving beyond a given time point.</p>
                            <p><b>4. Expression Level Impact on Survival:</b> By linking the OS data to gene, miRNA, and protein expression levels, this analysis aims to identify potential biomarkers of survival, providing insights into the biological mechanisms driving cancer progression and patient prognosis.</p>

                            <br>
                            <p>This integrative approach combining transcriptomic, proteomic, and survival data allows for a comprehensive assessment of how molecular alterations impact patient outcomes, potentially guiding personalized cancer therapies and improving prognostic predictions.</p>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            Overall Survival with Pathway Activity Score
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <h4>Overall Survival with Pathway Activity Score</h4>
                            <p>This analysis offers the opportunity to perform an overall survival analysis by going to study instead of the expression of a single gene, the expression of a set of genes (pathways).
                            <br><br>The analysis for a given tumor consists of dividing samples into two groups based on pathway activity score (PAS) values pre-calculated with <a href='https://bioconductor.org/packages/devel/bioc/vignettes/GSVA/inst/doc/GSVA.html' target="_blank">GSVA</a> (Gene Set Variation Analysis).
                            The PAS describes how active that pathway is in that given sample. GSVA is a nonparametric, unsupervised method for estimating the variation in gene set enrichment across samples in an expression dataset.
                            <br>The implemented script uses OS time data provided by TCGA in the clinical data file as time-to-event information. The time data are expressed in days.
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapsSeven">
                            Survival Analysis with Gene Mutation Status
                          </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <h5>Survival Analysis with Gene Mutation Status</h5>
                            <p>This analysis examines the overall survival (OS) of patients by evaluating the impact of specific gene mutations on survival outcomes within a particular tumor type. Utilizing the maftools R package, the analysis leverages mutation data from The Cancer Genome Atlas (TCGA) to provide insights into how the mutation status of a selected gene influences patient prognosis.</p>
     
                            <p></p>
                            <br>
                          </div>
                        </div>
                      </div>


                      

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading10">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
                            Tumor Mutation Analysis
                          </button>
                        </h2>
                        <div id="flush-collapse10" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5>Tumor Mutation Analysis</h5>
                           <p> This analysis uses the maftools library to analyze genomic data of a specific tumour from the TCGA database. It generates a mutation summary image (maf summary) and a graph comparing mutation transitions and transversions (TiTv). Each graph provides a visual analysis of the mutations, highlighting key statistics and distributions characteristic of the selected tumour.
                          </p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading11">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse11" aria-expanded="false" aria-controls="flush-collapse11">
                            Oncoplot
                          </button>
                        </h2>
                        <div id="flush-collapse11" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5>Oncoplot</h5>
                           <p>This analysis generates an oncoplot displaying the number of selected genes (top 10, 15, 20 or 25) most frequently mutated in a specific tumour type, using data from the TCGA database. Each column represents a sample, while the rows indicate the genes, with the mutations highlighted in distinctive colours. 
                          </p>
                          <p>This graph provides a clear overview of prevalent mutations, facilitating the identification of key genes associated with the disease.</p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading12">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse12" aria-expanded="false" aria-controls="flush-collapse12">
                            Somatic Interaction Analysis
                          </button>
                        </h2>
                        <div id="flush-collapse12" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5>Somatic Interaction Analysis</h5>
                           <p>
                            This analysis generates a graph of somatic interactions using the somaticInteractions function of the maftools library to analyse the interactions between mutated genes in a selected specific tumor. You can select the number of genes to be analysed
                        </p>
                            <br>
                          </div>
                        </div>
                      </div>


                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading13">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse13" aria-expanded="false" aria-controls="flush-collapse13">
                            Gene Mutation Analysis
                          </button>
                        </h2>
                        <div id="flush-collapse13" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5> Gene Mutation Analysis</h5>
                           <p>
                            This analysis produces a lollipop graph using the maftools library to visualise mutations in a specific gene within a tumour selected from the TCGA genomic data. Mutations are annotated according to the Protein_Change column, which indicates the types of amino acid changes. The graph represents the frequency of mutations along the length of the gene, highlighting significant mutations at the corresponding points.
                        </p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading14">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse14" aria-expanded="false" aria-controls="flush-collapse14">
                            Differential Expression for Mutated Status - Deseq2
                          </button>
                        </h2>
                        <div id="flush-collapse14" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5> Differential Expression for Mutated Status - Deseq2</h5>
                            <p>
                              <p>This analysis investigates the expression differences between mutated and wild-type samples of a specific gene in a chosen tumor type using TCGA data. It employs the DESeq2 package to perform differential expression analysis, generating results saved as a text file. Visualization includes a heatmap of sample distances, PCA plots, a heatmap of the top 50 most variable genes, and an Enhanced Volcano plot to highlight significant gene expression changes. The results provide insights into the impact of mutations on gene expression within the tumor context.</p>
                            </p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading15">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse15" aria-expanded="false" aria-controls="flush-collapse15">
                            Differentially Mutated Gene by Clinical Feature
                          </button>
                        </h2>
                        <div id="flush-collapse15" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5> Differentially Mutated Gene by Clinical Feature</h5>
                            <p>
                                <p>
                                    This analysis compares two cohorts of cancer patients using genomic data from TCGA to analyze genetic mutations by stratifying patients by clinical characteristics. It generates a forest plot highlighting the 10 genes with the most significant mutations between the groups, showing differences in mutational profiles. It also produces a coBarplot illustrating the distribution of mutations in the two groups. 
                                </p>
                                <p>
                                    These graphs provide a clear view of mutational differences, helping to identify key genes associated with different clinical responses. The results are also saved in a CSV file for further analysis.
                                </p></p>
                            </p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading8">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                            Cell-mixture Deconvolution
                          </button>
                        </h2>
                        <div id="flush-collapse8" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5>Cell-mixture deconvolution</h5>
                            <p>
                              <p>To estimate cellular proportions, we applied a computational deconvolution method using gene expression profiles from bulk tissue samples.</p> 
                              <p>The core of this approach is the use of a pre-defined <strong>"basis matrix"</strong>, which contains gene expression profiles of specific cell types and their corresponding marker genes. These marker genes, which are either uniquely or predominantly expressed by particular cell types, serve to identify and quantify the relative abundance of each cell type in the mixed sample.</p>
                              
                              <p>We used the <strong>ImmunoStates basis matrix</strong> from the <em>MetaIntegrator R package</em>, which includes profiles for 20 immune cell types, to estimate the proportions of these cell types in our samples.</p>
                              <p>Mathematically, the deconvolution process involves solving a linear regression model, where the observed bulk expression values are modeled as a weighted sum of the reference expression profiles in the basis matrix. The weights correspond to the estimated proportions of each cell type, providing a cellular composition profile for each sample.</p>
                              
                            </p>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-heading9">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9">
                            Correlation Cell Type and Pathways
                          </button>
                        </h2>
                        <div id="flush-collapse9" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                           <h5>Correlation Cell Type and Pathways</h5>
                            <p>
                              <p>This function serves to calculate the association between cellular abundance and pathway activity within tumor samples.</p>
                              <p>For cellular composition, we first estimated the relative proportions of immune cell types using cell-mixture deconvolution. This approach relies on the <strong>ImmunoStates basis matrix</strong>, which contains predefined gene expression profiles for 20 immune cell types.</p>
                              
                              <p>To assess pathway activity, we applied <strong>single-sample Gene Set Enrichment Analysis (ssGSEA)</strong>, which calculates an activity score for each pathway based on the expression of genes within a predefined set of cancer-related and immune-associated pathways. These pathway activity scores provide a quantitative measure of pathway activation in each tumor sample.</p>
                              
                              <p>By correlating the cell-type proportions with the ssGSEA scores, we were able to identify significant associations between specific immune cell types and the activity of relevant biological pathways, offering insights into how cellular composition may influence tumor biology.</p>
                              
                            </p>
                            <br>
                          </div>
                        </div>
                      </div>

                  </div>
            </div>
            
    </div>
  

   
{%endblock%}
 