<h2 class="mx-3">Analysis</h2>
      
<!-- Categoria 1: Transcriptomic analyses -->
<!-- <button class="category-toggle mx-3" style="font-size: 16px; color: black; display: block ;padding: 10px; text-align: left; width: 100%;" onclick="toggleCategory('category1')">Differential Expression Analysis</button> -->
<button class="category-toggle mx-3" style="font-size: 16px; color: navy; display: flex; align-items: center; padding: 10px; text-align: left; width: 100%; background-color: white;  border-radius: 5px;" 
onclick="toggleCategory('category1', this)" onmouseover="this.style.backgroundColor='rgb(208,231,231,255)';" onmouseout="this.style.backgroundColor='white';"data-category="category1">
<span class="arrow" style="transition: transform 0.3s; color: navy;padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></span>
Transcriptomic Analyses
</button>
<ul id="category1" style="display: none; padding-left: 20px;"> 
    <li><a href="{%url 'deseq2'%}"><i class="fas fa-solid fa-square-poll-vertical"></i> DESeq2 Analysis</a></li>
    <li><a href="{%url 'diff_exp_single_tumor'%}"><i class="fas fa-solid fa-square-poll-vertical"></i> Differential Expression Analysis Single Tumor</a></li>
    <li><a href="{%url 'differential_expression'%}"><i class="fas fa-solid fa-square-poll-vertical"></i> Pan-Cancer Differential Expression Analysis</a></li>
    <!-- <li><a href="{%url 'rna_interactor'%}"><i class="fa-solid fa-square-poll-horizontal"></i> Correlation Analysis RNA interactor</a></li>  -->
</ul>

<br>


<!-- Categoria 2: Transcriptomic analyses -->
<!-- <button class="category-toggle mx-3" style="font-size: 16px; color: black; display: block ;padding: 10px; text-align: left; width: 100%;" onclick="toggleCategory('category1')">Differential Expression Analysis</button> -->
<button class="category-toggle mx-3" style="font-size: 16px; color: navy; display: flex; align-items: center; padding: 10px; text-align: left; width: 100%; background-color: white;  border-radius: 5px;" 
onclick="toggleCategory('category2', this)" onmouseover="this.style.backgroundColor='rgb(208,231,231,255)';" onmouseout="this.style.backgroundColor='white';"data-category="category2">
<span class="arrow" style="transition: transform 0.3s; color: navy;padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></span>
Proteomic Analyses 
</button>
<ul id="category2" style="display: none; padding-left: 20px;"> 
    <li><a href="{%url 'diff_exp_single_tumor_protein'%}"><i class="fas fa-solid fa-square-poll-vertical"></i> Differential Expression Analysis Single Tumor</a></li>
    <li><a href="{%url 'differential_expression_protein'%}"><i class="fas fa-solid fa-square-poll-vertical"></i> Pan-Cancer Differential Expression Analysis</a></li>
</ul>

<br>


<!-- Categoria 3: Survival Analysis -->
<button class="category-toggle mx-3" style="font-size: 16px; color: navy; display: flex; align-items: center; padding: 10px; text-align: left; width: 100%; background-color: white;  border-radius: 5px;" 
onclick="toggleCategory('category3', this)" onmouseover="this.style.backgroundColor='rgb(208,231,231,255)';" onmouseout="this.style.backgroundColor='white';"data-category="category3">
<span class="arrow" style="transition: transform 0.3s; color: navy;padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></span>
Survival Analysis

</button>
<ul id="category3" style="display: none; padding-left: 20px;">
    <li><a href="{%url 'overall_survival'%}"><i class="fas fa-solid fa-chart-line"></i> Overall Survival</a></li>
    <li><a href="{%url 'OS_pathway'%}"><i class="fas fa-solid fa-chart-line"></i> Overall Survival with Pathway Activity Score</a></li>
    <li><a href="{%url 'survival_with_gene_mutation_status'%}"><i class="fas fa-solid fa-chart-line"></i> Overall Survival with Gene Mutation Status</a></li>
</ul>
<br>


<!-- Categoria 4: Mutational analyses-->
<button class="category-toggle mx-3" style="font-size: 16px; color: navy; display: flex; align-items: center; padding: 10px; text-align: left; width: 100%; background-color: white;  border-radius: 5px;" 
onclick="toggleCategory('category4', this)" onmouseover="this.style.backgroundColor='rgb(208,231,231,255)';" onmouseout="this.style.backgroundColor='white';"data-category="category4">
<span class="arrow" style="transition: transform 0.3s; color: navy;padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></span>
Mutational Analyses

</button>
<ul id="category4" style="display: none; padding-left: 20px;">
    <li><a href="{%url 'tumor_mutation_analysis'%}"><i class="fas fa-solid fa-square-poll-horizontal"></i> Tumour Mutation Analysis</a></li>
    <li><a href="{% url 'tumor_oncoplot' %}"><i class="fas fa-solid fa-square-poll-horizontal"></i>Oncoplot</a></li>
    <li><a href="{% url 'somatic_interaction_analysis' %}"><i class="fas fa-solid fa-square-poll-horizontal"></i>Somatic Interaction Analysis</a></li>
    <li><a href="{%url 'gene_mutation_analysis'%}"><i class="fas fa-solid fa-square-poll-horizontal"></i> Gene Mutation Analysis</a></li>
    <li><a href="{% url 'de_mut' %}"><i class="fas fa-solid fa-square-poll-horizontal"></i>Differential Expression for Mutated Status - Deseq2</a></li>
    <li><a href="{% url 'de_mut_clinical_feature' %}"><i class="fas fa-solid fa-square-poll-horizontal"></i>Differentially Mutated Gene by Clinical Feature</a></li>
   
</ul>
<br>


<!-- Categoria 5: Survival with Mutation Status -->
<button class="category-toggle mx-3" style="font-size: 16px; color: navy; display: flex; align-items: center; padding: 10px; text-align: left; width: 100%; background-color: white;  border-radius: 5px;" 
onclick="toggleCategory('category5', this)" onmouseover="this.style.backgroundColor='rgb(208,231,231,255)';" onmouseout="this.style.backgroundColor='white';"data-category="category5">
<span class="arrow" style="transition: transform 0.3s; color: navy;padding-right: 10px;"><i class="fa-solid fa-angle-down"></i></span>
Cell Types Analyses
</button>

 <ul id="category5" style="display: none; padding-left: 20px;">
    <li><a href="{%url 'deconvolution'%}"><i class="fas fa-solid fa-square-poll-horizontal"></i> Cell-mixture Deconvolution</a></li>
    <li><a href="{%url 'corr_cell_pathway'%}"><i class="fas fa-solid fa-square-poll-horizontal"></i> Correlation Cell Type and Pathways</a></li>
</ul>


<!-- script per rendere animato il menu-->
<script>
    // Function to toggle the category and ensure only one stays open at a time
    function toggleCategory(categoryId, button) {
        var category = document.getElementById(categoryId);

        // Close all other categories except the one being clicked
        var allCategories = document.querySelectorAll('ul[id^="category"]');
        allCategories.forEach(function(cat) {
            if (cat.id !== categoryId) {
                cat.style.display = "none"; // Close all other categories
                localStorage.setItem(cat.id, 'closed'); // Save state as closed
            }
        });

        // Toggle the selected category
        if (category.style.display === "none" || category.style.display === "") {
            category.style.display = "block"; // Show the content
            localStorage.setItem(categoryId, 'open'); // Save state in localStorage
        } else {
            category.style.display = "none"; // Hide the content
            localStorage.setItem(categoryId, 'closed'); // Save state in localStorage
        }
    }

    // Function to restore the menu state on page load
    window.onload = function() {
        // Select all buttons that toggle categories
        var toggles = document.querySelectorAll('[data-category]');

        toggles.forEach(function(button) {
            var categoryId = button.getAttribute('data-category');
            var category = document.getElementById(categoryId);

            // Check the saved state in localStorage
            var state = localStorage.getItem(categoryId);

            if (state === 'open') {
                category.style.display = "block"; // Show the content
            } else {
                category.style.display = "none"; // Hide the content
            }
        });
    };

</script>


 
    
<style>
    .category-toggle {
        background-color: transparent;
        border: none;
        color: navy;
        font-size: 18px;
        cursor: pointer;
        padding: 10px;
        text-align: left;
        width: 100%;
        display: block;
    }
    .category-toggle:hover {
        color: darkblue;
    }
</style>