{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}
<h4 style="color:navy">Survival Analyses</h4>
<h2> Overall Survival with Pathway Activity Score </h2>
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
          Description
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Example
        </button>
      </p>
      <div class="collapse" id="collapsedescription">
        <div class="card card-body">
          <h4>Overall Survival with Pathway Activity Score</h4>
          <p>This analysis enables the evaluation of overall survival by focusing not only on the expression of individual genes but also on the expression of gene sets, referred to as pathways.</p>

          <p>For a specific tumor type, samples are categorized into two groups based on pre-calculated Pathway Activity Score (PAS) values, obtained through Gene Set Variation Analysis (GSVA). The PAS reflects the activity level of a given pathway within each sample. GSVA is a nonparametric and unsupervised method that estimates variations in gene set enrichment across samples within an expression dataset.</p>

          <p>The analysis employs overall survival (OS) time data provided by The Cancer Genome Atlas (TCGA) clinical data file, which serves as the time-to-event information. The time data are represented in days.</p>
          <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p>

        </div>
      </div>
        
      <div class="row my-3">
          <div class="col-sm-3 my-3">
              <form method="post" id="analysis-form" >
                  {%csrf_token%}
                  {{form|crispy}}
                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md">
                      <button class="btn btn-primary me-md-2 my-3" type="submit">Submit</button>
                  </div>
              
              </form>
          </div>
              
            <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <p class="text-center" >Example: </p>
                      <img src= "{%static 'media/examples/pathway_os.png' %}" width="600">
                    </div> 
                  </div>
                
                {%if go == 'Valid' %}
                
                <h3 class="d-flex justify-content-between align-items-center">
                  <span>Results</span>
                  
                  <div class="text-end">
                      <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
                      <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                          <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
                      </a>
                  </div>
              </h3>
                <hr>
                <p><b>Tumor: </b> {{tumor}}</p>
                <p><b>Method: </b> {{method}}</p>
                <p><b>Pathway: </b> {{pathway}}</p>
                <p><b>P-value:</b> {{formresult}}</p>

              
                <div class="row">
                 
                  <div class="mb-3 bg-body rounded" style="max-width: 700px;">
                    <a href="{%static image%}" target="_blank"><img src= '{%static image %}' width="100%"></a>
                  </div>
                </div>
             
                {%endif%}
                
                {%if go == "error" %}
                <div class="alert alert-danger text-center" role="alert">
                  <h5>There are no results for {{pathway}} - {{tumor}}</h5>
                  {{formresult}}
                </div> 
                {%endif%}

            
              
            </div>
      
      </div>
   <!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script per il suggerimento con jQuery UI -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#pathway-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'pathway_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script>
   

{%endblock%}
    