{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}

<h4 style="color:navy">Survival Analyses</h4>
  <h2> Overall Survival </h2>
      <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsedescription" role="button" aria-expanded="false" aria-controls="collapsedescription">
          Description
        </a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Example
        </button>
      </p>
      <div class="collapse" id="collapsedescription">
        <div class="card card-body">
          <h4>Overall Survival</h4>
        <p>The analysis presented involves the investigation of overall survival (OS) data using Kaplan-Meier survival curves and log-rank tests to evaluate the association between gene, miRNA, and protein expression levels with patient outcomes. Specifically, OS data provided by The Cancer Genome Atlas (TCGA) is used as time-to-event information. The survival time, expressed in days, measures the duration from diagnosis or treatment initiation until the event of interest, such as death or last follow-up.</p>
        <p>The expression data used are Gene Expression Quantification HTSeq - FPKM, miRNA Expression Quantification and Protein Expression Quantification</p>
        
        <p><b>Choice of Time Variables:</b>Users have the flexibility to select the time variable for the analysis based on their specific research needs. The two available options are:</p>
        <ol>
            <li><strong>OS.time:</strong> This variable uses overall survival time data as the primary measure for the time-to-event analysis.</li>
            <li><strong>DFI.time:</strong> This variable utilizes disease-free interval time data, which reflects the duration from diagnosis to the first occurrence of disease recurrence or progression.</li>
        </ol>
        <p>The choice between these two time variables can impact the survival analysis results and their interpretations, allowing users to tailor the analysis to their research objectives.</p>

        <p>For more details go to <a href="{% url 'documentation' %}" target="_blank">PANDA Documentation</a></p>

        </div>
      </div>
        
      <div class="row my-3">
          <div class="col-sm-3 my-3">
              <form  id="analysis-form" method="post"  >
                  {%csrf_token%}
                  {{form|crispy}}
                  <br>
                  <div class="d-grid gap-2 d-md-flex justify-content-md">
                      <button class="btn btn-primary me-md-2 my-3" type="submit">Submit</button>
                  </div>
              
              </form>
          </div>
              <div class="col mx-3" style="border:1px; border-left-style: solid; border-color:rgba(0, 0, 128, 0.301)">
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <p class="text-center" >Example: </p>
                    <img src= "{%static 'media/examples/os.png' %}" width="600">
                  </div> 
                </div>
                  {%if go == 'Valid' %}
                
                  <h3 class="d-flex justify-content-between align-items-center">
                    <span>Results</span>
                    
                    <div class="text-end">
                        <span style="font-size: 14px;">Click here to download all the results of this analysis</span>
                        <a href="{% url 'download_zip' subdirectory=dir zip_name='results.zip' %}" download target="blank" title="Click here to download all the results of this analysis">
                            <button class="btn btn-sm"><i class="fa-solid fa-download"></i></button>
                        </a>
                    </div>
                </h3>
                  
                  <hr>
                  <p><b>Gene:</b> {{gene}}</p>
                  <p><b>Tumor:</b> {{tumor}}</p>
                  <p><b>Method:</b> {{method}}</p>
                  <p><b>P-value:</b> {{formresult}}</p>
                  <div class="row">
                   
                    <div class="mb-3 bg-body rounded" style="max-width: 700px;text-align: center;">
                      <a href="{%static image%}" target="_blank"><img src= '{%static image %}' width="100%"></a>
                    </div>
                  </div>
                </div>
                  {%endif%}
                  
                  {%if go == "error" %}
                  <div class="alert alert-danger text-center" role="alert">
                    <h5>There are no results for {{gene}} - {{tumor}}</h5>
                    {{formresult}}
                  </div> 
                  {%endif%}

           
            
              
            </div>
      
      </div>
      
<!-- Includi jQuery UI e il suo CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Script per il suggerimento con jQuery UI -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#gene-input').autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "{% url 'gene_suggestions' %}",  // L'URL che abbiamo aggiunto
          data: {
            'term': request.term  // Il testo digitato dall'utente
          },
          success: function(data) {
            response(data);  // Restituisci i risultati all'autocomplete
          }
        });
      },
      minLength: 1,  // Numero minimo di caratteri per avviare l'autocomplete
    });
  });
</script>

{%endblock%}
    
