{%extends 'rolls/layoutpagine.html' %}
{%load crispy_forms_tags%}
{%block content%}
{% load static %}

<h2> Overall survival with Pathway activity score </h2>
<div class="container-fluid">
  <p>Dropdown menu multiple level</p>

  
  <h3>Pathways</h3>
  <div class="menu-container" style="height: 100%;overflow-y: scroll; background-color: aliceblue; width: 70%;">
    <ul class="menu">
      <li><a href='#'><i class="fa-solid fa-angle-down"></i> REACTOME </i></a>
        <ul class="submenu" style="height: 100% ; overflow-y: scroll; width:100%;">
          {% for key, value in dizionario.items %} 
            <li><a href="#"><i class="fa-solid fa-angle-down"></i><b> {{key}}</b> </a>
              <ul class="submenu2" style="height: 100% ; overflow-y: scroll; width:100%;">
                {%for v in value%}
                <li><a href="#">{{v}}</a></li>
                {%endfor%}

            </ul>
            </li>
          {%endfor%}
     
        </ul>
      </li>

      <li><a href="#"><i class="fa-solid fa-angle-down"></i> KEGG </a>
        <ul class="submenu" style="height: 100% ; overflow-y: scroll; width:100%;">
        {% for key, value in dizionario.items %} 
            <li><a href="#"><i class="fa-solid fa-angle-down"></i> {{key}}</a>
                <select class="form-select submenu2"  size="8">
                {%for v in value%}
                <option value="1">{{v}}</option>
                {%endfor%}
              </select>
            </li>
          {%endfor%}
          </ul>
        </li>
        <li><a href="#"><i class="fa-solid fa-angle-down"></i> BIOCARTA </a>
          <ul class="submenu" style="height: 100% ; overflow-y: scroll; width:100%;">
            <li><a href="#" data-value="1">ciao</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa-solid fa-angle-down"></i> PID </a></li>
        <li><a href="#"><i class="fa-solid fa-angle-down"></i> WIKIPATHWAYS </a></li>
    </ul>
   
  
  </div>
  
{%endblock%}
  

