{%extends 'rolls/common.html' %}

{%block content%}
<div class="conteiner-fluid my-3 mx-3">
    <p>Analyses available with <a href="{%url 'deseq2'%}" >DESeq2</a></p>

<div class= "contentainer-fluid mx-3 my-3 tablediv"> 
    <table class=" table table-hover table-bordered table-striped " style ="font-size: smaller;">
        <tr>
            <td></td>
            <td>ACC</td>
            <td>BLCA</td>
            <td>BRCA</td>
            <td>CESC</td>
            <td>CHOL</td>
            <td>COAD</td>
            <td>DLBC</td>
            <td>ESCA</td>
            <td>GBM</td>
            <td>HNSC</td>
            <td>KICH</td>
            <td>KIRC</td>
            <td>KIRP</td>
            <td>LGG</td>
            <td>LIHC</td>
            <td>LUAD</td>
            <td>LUSH</td>
            <td>MESO</td>
            <td>OV</td>
            <td>PAAD</td>
            <td>PCPG</td>
            <td>PRAD</td>
            <td>READ</td>
            <td>SARC</td>
            <td>SKCM</td>
            <td>STAD</td>
            <td>TGCT</td>
            <td>THCA</td>
            <td>THYM</td>
            <td>UCEC</td>
            <td>UCS</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>✔</td>
            <td>✔</td>
            <td>!</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
        </tr>
        <tr>
            <td>Radiation therapy</td>
            <td>✔</td>
            <td>✔</td>
            <td>!</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
        </tr>
        <tr>
            <td>Patient status</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
        </tr>
        <tr>
            <td>Diabetes</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
        </tr>
        <tr>
            <td>Tobacco smoking history</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
        </tr>
        <tr>
            <td>Menopause status</td>
            <td>✘</td>
            <td>✘</td>
            <td>!</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
        </tr>
        <tr>
            <td>Alcohol history documented</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✔</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
            <td>✘</td>
        </tr>
    </table>
</div>

</div>
   
{%endblock%}