@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  
}

body{
   background-color: #f3f5f9;
   margin:0;
}


h1{
  position: center;
  padding-top: 100px;
  color: navy;
  width: 45 px;
}

.collapse div{
  background-color: white;
}

.btn{
  color:whitesmoke;
  background-color: rgb(37, 150, 190);
  border: navy;
}
.btn:hover{
  color:white;
  background-color:#0069d9;
}

.offcanvas-body h2{
  color: rgb(21, 10, 116);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.offcanvas-body ul li{
  padding: 10px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  text-align: left;
}    

.offcanvas-body ul li a{
  color: rgb(16, 9, 56);
  display: block;
}

.offcanvas-body ul li a .fas{
  width: 25px;
}


.offcanvas-body ul li:hover{
  background-color: rgba(208,231,231,255);
  box-shadow: 0 0 5px rgba(33,33,33,.2); 
  
}

    
.offcanvas-body ul li:hover a{
  color: navy;
}

.offcanvas-body ul li a{
  width: 25 px;
  display: block;
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.offcanvas-body ul li:hover a{
  color: rgb(3, 6, 54);
}
 

.zoom {
  padding: 5px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card{
  border-color: white;
  width:auto;
}

.tablediv{
  width: auto;
  overflow-x: auto;
  position: center;
}



/*dropdown menu multiple level pathways*/

ul{
  list-style: none;
}


.menu li{
  position: relative;
  
  width: 100%;
  
}

.menu a{
  display: block;
  padding: 10px;
  color: black;
  transition: background-color .02s ease, color ease;
}

.menu a:hover{
  background-color:rgb(37, 150, 190);
  color: whitesmoke;

}

.menu button:hover{
  background-color:rgb(37, 150, 190);
  color: whitesmoke;

}

.menut button{
  display: block;
  padding: 10px;
  color: black;
}

.submenu{
  position:relative;
  background-color: white;
  width: auto;
  left: 0;
  display: none;
  font-size: 15px;
  
}

.submenu2{
  background-color: whitesmoke;
  position: relative;
  left:0;
  width: 100%;
  top: 0;
  background-color: white;
  display:none;
  font-size: 15px;
}

.menu li:hover > .submenu{
  display: block;
}

.submenu li:hover > .submenu2{
  display: block;
}



/* */

span{
   color: black;
}

footer{
  margin-bottom: auto;
}


/*new menu*/
.category-toggle {
  background-color: transparent;
  border: none;
  color: navy;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  display: block;
}
.category-toggle:hover {
  color: darkblue;
}